/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 50px;
}
footer {
  padding: 30px 0;
  background-color: #1c2229;
}

.orange-bg {
  background-color: #f96033;
  min-height: 200px;
  padding-top: 50px;
}
.blue-bg {
  background-color: #161d25;
  /*min-height: 500px;*/
  padding-top: 50px;
  padding-bottom: 50px;
}
.green-bg {
  background-color: #00bf74;
  /*min-height: 400px;*/
  padding-top: 70px;
  padding-bottom: 70px;
}
.white-bg {
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
}