<div class="blue-bg">
	<div class="container">
		<div class="text-center">
			<h2>Los Lobbystas más activos</h2>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div>
					<img src="//placehold.it/150x150" alt="">
				</div>
				<div>
					<table class="table">
						<thead>
							<tr>
								<th>Empresas</th>
								<th>nro reuniones</th>
							</tr>
						</thead>
						<tbody>
							<tr class="success">
								<td>Empresa 01</td>
								<td>7</td>
							</tr>
							<tr>
								<td>Empresa 02</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Empresa 03</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<img src="//placehold.it/150x150" alt="">
				</div>
				<div>
					<table class="table">
						<thead>
							<tr>
								<th>Personas</th>
								<th>nro reuniones</th>
							</tr>
						</thead>
						<tbody>
							<tr class="success">
								<td>Persona 01</td>
								<td>7</td>
							</tr>
							<tr>
								<td>Persona 02</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Persona 03</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4">
				<div>
					<img src="//placehold.it/150x150" alt="">
				</div>
				<div>
					<table class="table">
						<thead>
							<tr>
								<th>Sociedad Civil</th>
								<th>nro reuniones</th>
							</tr>
						</thead>
						<tbody>
							<tr class="success">
								<td>Organización 01</td>
								<td>7</td>
							</tr>
							<tr>
								<td>Organización 02</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Organización 03</td>
								<td>3</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>