<div class="white-bg">
	<div class="container">
		<div class="text-center">
			<h2>Políticos más requeridos</h2>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div>
					<img src="//ciudadanointeligente.org/img/team/cata.png" alt="" class="img-circle img-responsive">
				</div>
				<div class="text-center">
					<h4>Cata Feroz</h4>
					<span class="label label-success">Default</span>
				</div>
				<div class="text-center">
					<h5>30 reuniones</h5>
				</div>
			</div>

			<div class="col-md-3">
				<div>
					<img src="//ciudadanointeligente.org/img/team/felipe.png" alt="" class="img-circle img-responsive">
				</div>
				<div class="text-center">
					<h4>Fieripe Feroz</h4>
					<span class="label label-primary">Default</span>
				</div>
				<div class="text-center">
					<h5>27 reuniones</h5>
				</div>
			</div>

			<div class="col-md-3">
				<div>
					<img src="//ciudadanointeligente.org/img/team/jp.png" alt="" class="img-circle img-responsive">
				</div>
				<div class="text-center">
					<h4>JP Feroz</h4>
					<span class="label label-success">Default</span>
				</div>
				<div class="text-center">
					<h5>25 reuniones</h5>
				</div>
			</div>

			<div class="col-md-3">
				<div>
					<img src="//ciudadanointeligente.org/img/team/fiera.png" alt="" class="img-circle img-responsive">
				</div>
				<div class="text-center">
					<h4>Fiera Feroz</h4>
					<span class="label label-warning">Default</span>
				</div>
				<div class="text-center">
					<h5>20 reuniones</h5>
				</div>
			</div>
		</div>
	</div>
</div>